@model IEnumerable<AllEvents.Models.Event>
@{
    ViewBag.Title = "Home Page";
}

<ul class="events">
    @foreach (var events in Model)
    {
        <li> 
            <div class="date">
                <div class="weekdays"> 
                    @events.DateTime.ToString("dddd")
                </div>
                <div class="day">
                    @events.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="creator">
                    @events.Creator.Name
                </span>
                <span class="eventType">
                    @events.EventType.Name
                </span>
                <button data-event-id="@events.Id" class="btn btn-default bt-sm pull-right js-toggle-attendance">Going?</button>
             </div>
        </li>
    }
     
</ul> 
@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-toggle-attendance").click(function(e) {
                var button = $(e.target);
                $.post("/api/attendances", { eventId: button.attr("data-event-id") })
                    .done(function() {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-primary")
                            .text("Going");
                    })
                    .fail(function() {
                        alert("Was not successful!");
                    });
            }); 
        });
    </script>
}
