@model IEnumerable<AllEvents.Models.Event>
@{
    ViewBag.Title = "Mine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Future Events</h2>

<div class="events">
    @foreach (var events in Model)
    {

        <div class="date">
            <div class="weekdays">
                @events.DateTime.ToString("MMMM")
            </div>
            <div class="weekdays">
                @events.DateTime.ToString("d ")
            </div>
            <div class="day">
                @events.DateTime.ToString("yyyy")
            </div>
            <div class="day">
                @events.DateTime.ToString("hh:mm tt")
            </div>           
        </div>
        <hr/> 
        <div class="deails">
            <span class="eventType"><p></p>
                @events.EventType.Name
            </span>
            <h2></h2>
            <span class="creator">
                    @events.Location
            </span>
            
            <div class="actions">
                <a href="@Url.Action("Edit", "Events", new {id = events.Id})">
                    Edit
                </a> |
                <a href="#" class="js-cancel-event" data-event-id="@events.Id">
                    Cancel
                </a>                
            </div>            
        </div>    
    }

</div>
@section scripts
{
    <script>
        $(document)
            .ready(function() {
                $(".js-cancel-event")
                    .click(function(e) {
                        var link = $(e.target);

                        bootbox.confirm({
                            message: "By deleting this event, Users will no longer have access to it",
                            buttons: {
                                confirm: {
                                    label: 'Delete',
                                    className: 'btn-success'
                                },
                                cancel: {
                                    label: 'Cancel',
                                    className: 'btn-default'
                                }
                            },

                            callback: function(answer) {
                                if(answer === true)
                                $.ajax({
                                        url: "/final/api/events/" + link.attr("data-event-id"),
                                        method: "DELETE"
                                    })
                                    .done(function() {
                                        link.parents("li")
                                            .fadeOut(function() {
                                                $(this).remove();
                                            });
                                        
                                    })
                                    .fail(function() {
                                        alert("It was not able to delete it");
                                    });
                            }
                    });
                    });
            })
    </script>
}

